/* цвет основного текста  */  
   /* #757575  */
/* цвет вторичного текста  */
/* #212121; */
/* акцент  */ 
/* #2196F3  */
/* цвет адресса футтера */
/* rgba( 0, 0, 0, 0.6 ) */
:root {
    --main-color: #757575;
    --accent-color: #2196F3;
    --secondary-color: #212121;
    --adress-footer-color: rgba( 255, 255, 255, 0.6 ); 
    --main-white-color: #FFFFFF;
}
html {
    box-sizing: border-box;
}

* ,
*::after,
*::before {
    box-sizing: inherit;
}

h1 ,h2, h3, h4, h5, p, ul {
margin-top: 0px;
margin-bottom: 0px;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
body {
    background-color:#FFFFFF;
    
    font-family: Roboto,sans-serif ;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
    }
   nav {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0.28px;
   }
   
.logo{
    color: var(--secondary-color);

    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
}
/* site nav */
site-nav{
    letter-spacing: 0.28px;
}
.site-nav .link{
    color: var(--secondary-color);
    
}
.site-nav .link:hover,
.site-nav .link:focus {
     color: var(--accent-color);
}
.auth-nav .link:hover, 
.auth-nav .link:focus {
color: var(--accent-color);
}
.auth-nav .link {
    color: var(--main-color);
}
/* hero */
.hero-title{
    display: inline-block;

    color: #FFFFFF;

    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: 700;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px; 

    margin-top: 200px;
    margin-bottom: 30px;
    margin-left: 452px;
    margin-right: 452px;

    width: 696px;
}
.hero{
    background-color: #2F303A;
    text-align: center;
}

/* Особенности */
.features {
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;

}
.features .title{
    color: var(--secondary-color);
}
.features .page{
    color: var(--main-color)
}
/* SECTION */
.section .section-title{
    color: var(--secondary-color);
    
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}
/* наша команада */
.section-title-name{
    color: var(--secondary-color);
    
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}
.section-title-descrirtion{
    color: var(--main-color);
}
/* footer */
.adress .link{
    color: #FFFFFF;
}
.footer .contact{
    color: var(--adress-footer-color)
} 
.footer{
    background-color: #2F303A
}
.footer .footer-logo{
color: #FFFFFF;
}
.footer .footer-accent{
    color: #2196F3;
}
/* button */
.button{
    display: inline-block;

    color: #212121;
    background-color: #FFFFFF;

    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.96px;
    
    border-radius: 4px ;
    padding: 10px 32px;

    margin: 350px 692px 200px ;

    min-width: 216px;
    height: 50px;

    white-space: nowrap;
}
.button.primary{
    color: #FFFFFF;
    background-color: #2196F3;
}
.logo {
   color: var(--accent-color);
}
.header-logo {
    color: var(--secondary-color);
}
.footer-logo {
    color: #FFFFFF;
}
/* Portfolio page */
.portfolio .portfolio-title-button {
    color: var(--secondary-color);
    
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.48px;
}
.portfolio .portfolio-title-button:hover ,
.portfolio .portfolio-title-button:focus {
    color: var(--accent-color)
}
.portfolio .portfolio-title {
    color: var(--secondary-color);
}
.portfolio .portfolio-page {
    color: var(--main-color);
}
 /* container */
 .conteiner{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    outline: 2px solid tomato;
    padding-left: 15px;
    padding-right: 15px;
 }
